*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
_linux
/_linux
inspection
/inspection
debugger.xml
IntelliLang.xml
androidStudioFirstRun.xml
diff.xml
github_settings.xml
ide.general.xml